In [72]:
nama_siswa = ["Afif", "Bobby", "Chandra"]

In [73]:
nama_siswa[0]

'Afif'

In [74]:
nama_siswa[-1]

'Chandra'

In [76]:
nama_siswa.append("Dony")
nama_siswa
nama_siswa.remove("Afif")
nama_siswa

['Bobby', 'Chandra', 'dony', 'Dony']

In [78]:
nama_siswa = ("Afif", "Bobi", "Chandra")
nama_siswa.append("Dony")
nama_siswa.remove("Afif")

AttributeError: 'tuple' object has no attribute 'append'

In [79]:
nama_siswa = ("Afif", "Bobi", "Chandra", "Dedi")
nama_siswa[0] = "Andi"

TypeError: 'tuple' object does not support item assignment

In [80]:
list_1 = [1,2,3]
list_2 = list_1

In [81]:
list_1[0] = 100
list_1.append("afif")
list_2

[100, 2, 3, 'afif']

In [1]:
# Creating sets of unique hobbies for two people
hobbies_alice = {"reading", "hiking", "cooking"}
hobbies_bob = {"cooking", "painting", "cycling"}

# Finding common hobbies
common_hobbies = hobbies_alice.intersection(hobbies_bob)
print("Common hobbies:", common_hobbies)

# Finding the union of hobbies
all_hobbies = hobbies_alice.union(hobbies_bob)
print("All hobbies:", all_hobbies)

Common hobbies: {'cooking'}
All hobbies: {'reading', 'cooking', 'painting', 'hiking', 'cycling'}

In [83]:
hobbies_alice = {"reading", "hiking", "cooking","cooking","cooking","cooking","cooking","cooking","cooking","cooking"}

In [84]:
hobbies_alice

{'cooking', 'hiking', 'reading'}

In [2]:
# Creating a dictionary that maps student names to their ages
student_ages = {"Alice": 20, "Bob": 22, "Charlie": 21}

# Adding a new student to the dictionary
student_ages["David"] = 23

# Updating a student's age
student_ages["Alice"] = 21

# Iterating through the dictionary and printing student names and ages
for name, age in student_ages.items():
    print(name, "is", age, "years old")

Alice is 21 years old
Bob is 22 years old
Charlie is 21 years old
David is 23 years old

In [ ]:
for name in student_ages.keys():
    print(name, "is", age, "years old")

<h1>Membuat Modul</h1>

In [1]:
import kalkulator

In [2]:
kalkulator.PI

3.1415

In [3]:
kalkulator.jumlah(100,50)

150

In [ ]:
import kalkulator as kal
kal.PI

In [70]:
from kalkulator import PI, jumlah
PI
jumlah(100,50)
PI = 0

## Berinteraksi dengan data

In [61]:
f = open("data.txt")
f.read()

'Indonesia tanah airku\nTanah tumpah darahku\n'

In [62]:
f.close()

In [54]:
with open("data.txt") as data_file:
    print(data_file.read())

Indonesia tanah airku
Tanah tumpah darahku

In [64]:
f = open("data.txt")

In [65]:
f.readline()

'Indonesia tanah airku\n'

In [66]:
f.readline()

'Tanah tumpah darahku\n'

In [67]:
f.readline()

''

In [68]:
f = open("data.txt")

In [69]:
line = f.readline()
count = 1
while line != '':
    count += 1
    line = f.readline()
count

3

In [49]:
with open("data.txt", "a") as data_file:
    data_file.write("disanalah aku berdiri")
# close file data.txt untuk lihat perubahan 
with open("data.txt", "w") as data_file:
    data_file.write("disanalah aku berdiri")
# w = replace, a = append

In [ ]:
import csv

input_file = 'users.csv'
output_file = 'filtered_users.csv'

with open(input_file, 'r') as infile, open(output_file, 'w', newline='') as outfile:
    csv_reader = csv.DictReader(infile)
    fieldnames = csv_reader.fieldnames

    csv_writer = csv.DictWriter(outfile, fieldnames=fieldnames)
    csv_writer.writeheader()

    for row in csv_reader:
        if int(row['age']) >= 30:
            csv_writer.writerow(row)

In [4]:
import csv

csv_reader = csv.DictReader(myfile)
csv_reader.fieldnames

['user_id', 'name', 'email', 'age']

In [9]:
list(csv_reader)

[OrderedDict([('user_id', '1'),
              ('name', 'John Doe'),
              ('email', 'johndoe@example.com'),
              ('age', '32')]),
 OrderedDict([('user_id', '2'),
              ('name', 'Jane Smith'),
              ('email', 'janesmith@example.com'),
              ('age', '28')]),
 OrderedDict([('user_id', '3'),
              ('name', 'James Brown'),
              ('email', 'jamesbrown@example.com'),
              ('age', '55')])]

## Kelas

In [42]:
class Mahasiswa:
    def __init__(self, nama, usia):
        self.nama = nama
        self.usia = usia
        self.ipk = 0

    def calculate_ipk(self, ip):
        if self.ipk == 0:
            self.ipk = ip
        else:
            self.ipk += ip
            self.ipk /= 2

In [43]:
mahasiswa_1 = Mahasiswa("Afif", 20)
mahasiswa_2 = Mahasiswa("Budi", 19)

In [44]:
mahasiswa_1.ipk

0

In [45]:
mahasiswa_1.calculate_ipk(4)

In [46]:
mahasiswa_1.ipk

4

In [47]:
mahasiswa_1.calculate_ipk(3.5)

In [48]:
mahasiswa_1.ipk

3.75